name: rxce_monorepo
description: A collection of packages for the RXCE application.
publish_to: none

environment:
  sdk: ^3.10.0

workspace:
  - app
  - packages/api_package
  - packages/course_package

dev_dependencies:
  melos: ^7.1.1

melos:
  scripts:
    generate:
      name: Generate code for all packages
      run: melos exec --order-dependents --depends-on="build_runner" -- dart run
        build_runner build --delete-conflicting-outputs

    analyze:
      name: Analyze all packages
      run: |
        melos exec -- dart analyze .

    build:release:
      name: Build production APK
      steps:
        - cd app
        - flutter build apk --release --target lib/main_production.dart --flavor production
    
    run:dev:
      name: Build development APK
      steps:
        - cd app
        - flutter run --target lib/main_development.dart --flavor development
    
    run:prod:
      name: Build production APK
      steps:
        - cd app
        - flutter run --target lib/main_production.dart --flavor production
